.idea/aukse/2.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="mokesciuMoketojai">

    <xs:complexType>
      <xs:sequence>
        <xs:element name="imones">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="imone" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:choice>
                      <xs:element name="vadovas" type="xs:string"/>
                      <xs:element name="pavaduotojas" type="xs:string"/>
                    </xs:choice>
                    <xs:element name="centrinisStabas">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="adresas">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="miestas" type="xs:string"/>
                                <xs:element name="gatve" type="xs:string"/>
                                <xs:element name="namas" type="NamasList"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="salis" type="xs:string"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="darbuotojuSkaicius" type="xs:string"/>
                    <xs:element name="akcijosKaina" type="akcijosKainaSuAtrSalis"/>
                    <xs:element name="susikurimoData" type="DateType"/>
                  </xs:sequence>
                  <xs:attribute name="pavadinimas" type="xs:string"/>
                  <xs:attribute name="id" type="xs:string"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="nePelnoSiekianciosOrgs">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="nePelnoSiekianciosOrg" type="fullInfo"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="NamasList">
    <xs:list itemType="xs:integer"/>
  </xs:simpleType>

  <xs:simpleType name="DateType">
    <xs:restriction base="xs:date">
      <xs:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}"/>
    </xs:restriction>
  </xs:simpleType>


  <xs:complexType name= "akcijosKainaSuAtr">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="valiuta"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="akcijosKainaSuAtrSalis">
    <xs:simpleContent>
      <xs:extension base="akcijosKainaSuAtr">
        <xs:attribute name="salis" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="apribotoIlgioTekstas">
    <xs:simpleContent>
      <xs:restriction base="akcijosKainaSuAtrSalis">
        <xs:maxLength value="5"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>


  <xs:complexType name="organisationInfo">
    <xs:sequence>
      <xs:element type="xs:string" name="vadovas"/>
      <xs:element type="xs:string" name="pavadinimas"/>
    </xs:sequence>
  </xs:complexType>

<!--  restrict sudetingas su sudetingu-->

  <xs:complexType name="fullInfo">
    <xs:complexContent>
      <xs:extension base="organisationInfo">
        <xs:sequence>
          <xs:element name="centrinisStabas">
            <xs:complexType>
              <xs:simpleContent>
                <xs:extension base="xs:string">
                  <xs:attribute type="xs:string" name="salis"/>
                </xs:extension>
              </xs:simpleContent>
            </xs:complexType>
          </xs:element>
          <xs:element type="xs:string" name="darbuotojuSkaicius"/>
          <xs:element type="DateType" name="susikurimoData"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

<!--  <xs:key name="KnygosRaktas">-->
<!--    <xs:selector xpath="./p:mokesciuMoketojai/p:imones/p:imone/p:vadovas"/>-->
<!--    <xs:field xpath="Elon Musk"/>-->
<!--  </xs:key>-->

<!--  <xs:keyref name="NuorodaĮKnygą" refer="KnygosRaktas">-->
<!--    <xs:selector xpath="./p:Hospital/p:Patients/p:Patient"/>-->
<!--    <xs:field xpath="@ref"/>-->
<!--  </xs:keyref>-->

</xs:schema>