.idea/aukse/lab2.xml

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="https://www.discogs.com" xmlns:m="https://www.discogs.com" targetNamespace="https://www.discogs.com">
    <xs:element name="musicstore" type="musicstoreType"/>

    <xs:simpleType name="limitedString">
        <xs:restriction base="xs:string">
            <xs:maxLength value="3"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="quantityList">
        <xs:list itemType="xs:int"/>
    </xs:simpleType>

    <xs:simpleType name="dateType">
        <xs:restriction base="xs:date">
            <xs:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="ratingTypeRestriction">
        <xs:simpleContent>
            <xs:restriction base="ratingType">
                <xs:minInclusive value="0"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="titleType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="lang" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="genreType" mixed="true">
        <xs:sequence>
            <xs:element type="xs:string" name="style"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ratingType">
        <xs:simpleContent>
            <xs:extension base="xs:float">
                <xs:attribute type="xs:string" name="source" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="priceType">
        <xs:simpleContent>
            <xs:extension base="xs:float">
                <xs:attribute type="xs:string" name="currency" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="formatType">
        <xs:simpleContent>
            <xs:extension base="limitedString">
                <xs:attribute type="xs:int" name="rpm" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="albumType">
        <xs:complexContent>
            <xs:extension base="recordData">
                <xs:sequence>
                    <xs:element type="formatType" name="format"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="cdTypeRatingOmitted">
        <xs:complexContent>
            <xs:restriction base="cdType">
                <xs:sequence>
                    <xs:element type="titleType" name="title"/>
                    <xs:element type="artistType" name="artist"/>
                    <xs:choice>
                        <xs:element type="xs:string" name="label"/>
                        <xs:element type="xs:string" name="record_label"/>
                    </xs:choice>
                    <xs:element type="xs:string" name="country"/>
                    <xs:element type="dateType" name="release_date"/>
                    <xs:element type="genreType" name="genre"/>
                    <xs:element type="ratingTypeRestriction" name="rating" minOccurs="0"/>
                    <xs:element type="priceType" name="price"/>
                    <xs:element type="quantityList" name="quantity"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="cdType">
        <xs:sequence>
            <xs:element type="titleType" name="title"/>
            <xs:element type="artistType" name="artist"/>
            <xs:choice>
                <xs:element type="xs:string" name="label"/>
                <xs:element type="xs:string" name="record_label"/>
            </xs:choice>
            <xs:element type="xs:string" name="country"/>
            <xs:element type="dateType" name="release_date"/>
            <xs:element type="genreType" name="genre"/>
            <xs:element type="ratingTypeRestriction" name="rating"/>
            <xs:element type="priceType" name="price"/>
            <xs:element type="quantityList" name="quantity"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="recordData">
        <xs:sequence>
            <xs:element type="titleType" name="title"/>
            <xs:element type="artistType" name="artist"/>
            <xs:choice>
                <xs:element type="xs:string" name="label"/>
                <xs:element type="xs:string" name="record_label"/>
            </xs:choice>
            <xs:element type="xs:string" name="country"/>
            <xs:element type="dateType" name="release_date"/>
            <xs:element type="genreType" name="genre"/>
            <xs:element type="ratingTypeRestriction" name="rating"/>
            <xs:element type="priceType" name="price"/>
            <xs:element type="quantityList" name="quantity"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="albumsType">
        <xs:sequence>
            <xs:element type="albumType" name="album" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element type="cdTypeRatingOmitted" name="cd" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="artistType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:int" name="aid" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="artistsType">
        <xs:sequence>
            <xs:element type="artistType" name="artist" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="musicType">
        <xs:sequence>
            <xs:element type="artistsType" name="artists"/>
            <xs:element type="albumsType" name="albums"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="musicstoreType">
        <xs:sequence>
            <xs:element type="musicType" name="music">
                <xs:key name="ArtistId">
                    <xs:selector xpath="m:artists/m:artist"/>
                    <xs:field xpath="@aid"/>
                </xs:key>

                <xs:keyref name="ReferenceToArtist" refer="ArtistId">
                    <xs:selector xpath="m:albums/*/m:artist"/>
                    <xs:field xpath="@aid"/>
                </xs:keyref>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

</xs:schema>