.idea/it/2blind.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="https://www.forbes.com" xmlns:a="https://www.forbes.com" targetNamespace="https://www.forbes.com">

    <xs:element name="mokesciuMoketojai" type="mokesciuMoketojaiType">
        <xs:key name="vadovasId">
            <xs:selector xpath="a:vadovai/a:vardas"/>
            <xs:field xpath="@id"/>
        </xs:key>

        <xs:keyref name="vadovasRef" refer="vadovasId">
            <xs:selector xpath="imones/imone/vadovas|nePelnoSiekianciosOrgs/nePelnoSiekianciosOrg/vadovas"/>
            <xs:field xpath="@id"/>
        </xs:keyref>
    </xs:element>

    <xs:complexType name="mokesciuMoketojaiType">
        <xs:sequence>
            <xs:element type="vadovaiType" name="vadovai"/>
            <xs:element type="imonesType" name="imones"/>
            <xs:element type="nePelnoSiekianciosOrgsType" name="nePelnoSiekianciosOrgs"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="vadovaiType">
        <xs:sequence>
            <xs:element type="vadovasType" name="vardas" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="vadovasType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:int" name="id"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="imonesType">
        <xs:sequence>
            <xs:element type="imoneType" name="imone" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="imoneType">
        <xs:sequence>
            <xs:choice>
                <xs:element type="vadovasType" name="vadovas"/>
                <xs:element type="vadovasType" name="ikurejas"/>
            </xs:choice>
            <xs:element type="centrinisStabasType" name="centrinisStabas"/>
            <xs:element type="darbuotojuSkaiciusType" name="darbuotojuSkaicius"/>
            <xs:element type="akcijosKainaType" name="akcijosKaina"/>
            <xs:element type="DateType" name="susikurimoData"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="pavadinimas" use="optional"/>
    </xs:complexType>

    <xs:complexType name="centrinisStabasType" mixed="true">
        <xs:sequence>
            <xs:element type="pilnasAdresasType" name="adresas" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="salis" use="optional"/>
    </xs:complexType>

    <xs:complexType name="darbuotojuSkaiciusType">
        <xs:simpleContent>
            <xs:extension base="xs:int">
                <xs:attribute name="dirbaIsNamu" type="xs:boolean" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="akcijosKainaType">
        <xs:simpleContent>
            <xs:extension base="akcijosKainaSuAtr">
                <xs:attribute type="xs:string" name="valiuta" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="adresasType">
        <xs:sequence>
            <xs:element type="xs:string" name="miestas"/>
            <xs:element type="xs:string" name="gatve"/>
            <xs:element type="NamasList" name="namas"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="nePelnoSiekianciosOrgsType">
        <xs:sequence>
            <xs:element type="nePelnoSiekianciosOrgTypeRestricted" name="nePelnoSiekianciosOrg"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="nePelnoSiekianciosOrgType">
        <xs:sequence>
            <xs:element type="vadovasType" name="vadovas"/>
            <xs:element type="xs:string" name="pavadinimas"/>
            <xs:element type="centrinisStabasType" name="centrinisStabas"/>
            <xs:element type="dirbaIs" name="darbuotojuSkaicius"/>
            <xs:element type="xs:date" name="susikurimoData"/>
        </xs:sequence>
    </xs:complexType>

    <!--    1-->
    <xs:simpleType name="NamasList">
        <xs:list itemType="xs:integer"/>
    </xs:simpleType>

    <!--2-->
    <xs:simpleType name="DateType">
        <xs:restriction base="xs:date">
            <xs:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>

    <!--    3.1-->
    <xs:complexType name="dirbaIs">
        <xs:simpleContent>
            <xs:restriction base="darbuotojuSkaiciusType">
                <xs:minInclusive value="100"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <!--    3.2-->
    <xs:complexType name="akcijosKainaSuAtr">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="salis" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <!--    4.1-->
    <xs:complexType name="nePelnoSiekianciosOrgTypeRestricted">
        <xs:complexContent>
            <xs:restriction base="nePelnoSiekianciosOrgType">
                <xs:sequence>
                    <xs:element type="xs:string" name="vadovas"/>
                    <xs:element type="xs:string" name="pavadinimas"/>
                    <xs:element type="centrinisStabasType" name="centrinisStabas"/>
                    <xs:element type="dirbaIs" name="darbuotojuSkaicius"/>
                    <xs:element type="xs:date" name="susikurimoData" minOccurs="0"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>

    <!--    4.2-->
    <xs:complexType name="pilnasAdresasType">
        <xs:complexContent>
            <xs:extension base="adresasType">
                <xs:sequence>
                    <xs:element type="xs:string" name="pastoKodas"></xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!--    5-->

    <!--    6-->

    <!--    7-->
    <!--    choice-->

    <!--    8-->


</xs:schema>